*{
    padding: 0;
    margin: 0;
}

body{
    width: 1280px;
    margin: 0 auto 0 auto;
}
.navbar{
    width: 100%;
}
header{
    background-color: #FFF8F3;
    height: 650px;
    display: flex;
}

.menu{
    display:flex;
    justify-content:space-between;
}

 ul{
    display:flex;
    align-items:center;
    color:#474747;
 }

 li{
    text-decoration:none;
    list-style:none;
    padding: 10px;
 }
.banner{
    width: 100%;
    position: relative;
}
 .logo{
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight:bold;
    margin-left: 50px;
 }
 .redText{
    color:red;
 }
.btnPrimary{
    background-color:#FD6E0A;
    color:white;
    border:0;
    border-radius:4px;
    padding:15px 30px 15px 30px;
    font-weight:bold;
}

.btnContact{
    border: solid 1px ;
    background-color: white;
    color:#FD6E0A;
    border-radius:4px;
    padding:15px 30px 15px 30px;
    font-weight:bold;
    margin-left: 20px;
}

.banner{
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: 400px bottom ;
    /* background-size:  ; */
}
.developerPicContainer img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 550px;
}
.bioContainer{
    display: flex;
    justify-content: space-between;
}

.developerImg img{
    width: 85px;
}
.bio{
    margin-top: 130px;
    margin-left:50px ;
}

.intro , .name{
    margin-bottom: 25px;
}
.name{
    font-weight: bolder;
    font-size: 46px;
}
.introPara{
    margin-bottom: 15px;
    width: 400px;
}